@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #bae0c2;
}

.nav:hover{
    background-color:#a05909 ;
}

.title{
    text-align: center;
    font-size: 5em;
    color: #227a22;
    font-weight: bolder;
    margin: 50px;
}
.bg-navbar{
    background-color: bisque;
    font-size: 1.2em;
}

.footer{
    background-color: bisque;
    align-items: center;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-evenly;
}


.bg-aqw{
    background-color: antiquewhite;
    border-radius: 10px;
}

/* css integrantes */

.cv-text{
    color: black;
    text-decoration: none;
}

.text-nosotros{
    text-align: center;
}

.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 150px;
}

.subconteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
}

.box{
    display: flex;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.img{
    margin: 10px;
    border: solid rgb(94, 57, 8);
    width: 250px;
    border-radius: 10px;
}

/* pagina donación */

.space{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.bg-form{
    background-color:bisque;
    width: 470px;
    padding: 20px;
    
}

.footer-tipito{
    margin-bottom: 200px;
}

.button{
    background-color: rgb(199, 112, 31);
    color: #f0f8ff;
    width: 75px;
}

.dis-column{
    display: flex;
    flex-direction: column;
}

.input{
    width: 424px;
}

.tipito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* pagina contactanos */

.c{
    margin-bottom: 300px;
}

.red-titulo{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.redes{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

/* pagina inicio */

.inicio-caja{
    margin: 30px 200px 75px 200px;
    padding: 30px;
    font-size: 1.2em;
}

.inicio-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio-img{
    border: solid black;
    margin-top: 20px;
    width: 90%;
}

/* Pagina objetivo */

.mision-contenedor{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10% 10px 10%;
}

.mision-caja{
    width: 440px;
    padding: 10px;
    font-size: 1.2em;
}

.a{
    display: flex;
    justify-content: center;
}

.mision-cont{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1100px;
    padding: 30px;
}

.mision-text{
    font-size: 1.2em;
}

.obj-img{
    width: 300px;
}

.vision{
    display: flex;
    justify-content: space-evenly;
    margin: 20px
}

.vision-box{
    padding: 20px;
    width: 440px;
    font-size: 1.2em;
}

.orient{
    width: 1100px;
    padding: 20px;
    margin: 20px;
}

/* pagina logros */

.logros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 800px;
    margin: 20px;
}

.cont-logros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logros-title{
    font-size: 1.7em;
    margin: 5px;
}


/* -------------RESPONSIVE------------ */
@media (max-width:900px){
    .mision-contenedor{
        flex-direction: column;
        align-items: center;
    }
    .mision-caja{
        width: 400px;
        padding: 10px;
        margin: 20px;
    }

    .mision-cont{
        flex-direction: column;
        padding: 30px;
        width: 400px;
        align-items: center;
    }
    .a{
        justify-content: center;
    }

    .vision{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .vision-box{
        margin: 20px;
        width: 400px;
    }
    .orient{
        width: 400px;;
    }

    .inicio-caja{
        margin: 30px 20% 75px 20%;
        padding: 30px;
        font-size: 1.2em;
    }
    
    .inicio-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .inicio-img{
        border: solid black;
        margin-top: 20px;
        width: 100%;
    }
    
}

@media (max-width:600px){

    .footer{
        flex-direction: column;
        text-align: center;
        font-size: 1em;
    }

/* Responsive pagina integrantes */
    .c{
        margin-bottom: 200px;
    }

    .conteiner{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }
    
    .box{
        width: 200px;
        align-items: center;
    }

    .img{
        margin: 10px;
        width: 125px;
    }

    .text-nosotros{
        font-size: 1em;
    }

    .cv-text{
        font-size: 0.7em;
    }

    .inicio-caja{
        margin: 30px 5% 75px 5%;
        padding: 30px;
        font-size: 1em;
    }
    
    .inicio-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .inicio-img{
        border: solid black;
        margin-top: 20px;
        width: 100%;
    }

}

@media (max-width:500px){
    .bg-form{
        background-color:bisque;
        width: 300px;
        padding: 20px;
        
    }
    .input{
        width: 254px;
    }
    .redes{
        display: flex;
        align-items: center;
        margin: 30px;
        flex-direction: column;
    }
}

@media (max-width:400px){

    .title{
        font-size: 2em;
    }

    .subconteiner{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 3%;
        flex-direction: column;
        align-items: center;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .footer{
        flex-direction: column;
        text-align: center;
        font-size: 0.8em;
    }

    .mision-caja{
        width: 340px;
        padding: 10px;
        margin: 20px;
        font-size: 1em;
    }

    .mision-cont{
        flex-direction: column;
        padding: 30px;
        width: 340px;
        align-items: center;
    }

    .vision{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .vision-box{
        margin: 20px;
        width: 340px;
        font-size: 1em;
    }
    .orient{
        width: 340px;
    }
    .mision-text{
        font-size: 1em;
    }
    
}